{% extends 'base.html' %}
{% block content %}
  <div class="profile-header">
    <img src="{{ user.header_image_url }}" alt="Header image" class="header-image">
    <div class="profile-info">
      <img src="{{ user.image_url }}" alt="Profile image" class="profile-image">
      <h2>{{ user.username }}</h2>
      <p>{{ user.bio }}</p>
      <p>{{ user.location }}</p>
    </div>
  </div>
  <ul class="list-group" id="messages">
    {% for msg in messages %}
      <li class="list-group-item">
        <a href="/messages/{{ msg.id  }}" class="message-link"></a>
        <a href="/users/{{ msg.user.id }}">
          <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
        </a>
        <div class="message-area">
          <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
          <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
          <p>{{ msg.text }}</p>
        </div>
        {% if g.user %}
          <form method="POST" action="{% if msg in g.user.liked_messages %}{{ url_for('unlike_message', message_id=msg.id) }}{% else %}{{ url_for('like_message', message_id=msg.id) }}{% endif %}" id="messages-form">
            <button type="submit" class="btn btn-sm {% if msg in g.user.liked_messages %}btn-primary{% else %}btn-secondary{% endif %}">
              <i class="fa fa-thumbs-up"></i>
            </button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
